/* Variables */
:root {
    --text-color-dark: rgb(40, 40, 46);  
    --text-color-grey: rgb(99, 99, 99);  
    --text-color-light: white;
    --palette-0: #cabba5;   
    --palette-1: #f5ecdf; 
    --palette-2: #F7882f;  
    --palette-3: #f7c331;  
    --palette-4: #5b79a3;   
    --font-header: 'Bevan', cursive;
    --font-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Select All */
*{
    margin: 0%;
    padding: 0%;
    font-family: var(--font-main);
}
/* Grid Styles */
.gridContainer{
    display: grid;
    height: 100vh;
    grid-template-rows: 7vh auto 3vh;
    
}
.top{
    padding-top: .5vh;
    font-family: var(--font-main);
    text-align: center;
    background-color: var(--palette-3);
}
.top h1{
    font-family: var(--font-header);
    color: var(--palette-2);
}
.content{
    background-color: var(--palette-1);
    width: 80vw;
    margin-left: 10vw;
    padding-top: 1vh;

}
.footer{
    background-color: var(--palette-3);
}

/* Styles */
body{
    background-color: var(--palette-0);
}
.subtitle{
    font-size: 14pt;
    font-style: italic;
    color: var(--text-color-light);
}
h1{
    font-size: 28pt;
}
hr{
    color: var(--text-color-dark);
    margin: 1% 10%;
    width: 80%;
    border: 1px solid var(--text-color-dark);
}
button {
    background-color: var(--palette-2); 
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }
.dogBox{
    
    background-color: white;
    max-width: 40vw;
    margin-left: 20vw;
    font-size: 2vw;

}
.paramLabel{
    font-size: 16pt;
    width: 100%;
    text-align: center;
}
.paramOption{
    border: 0px solid white;
    padding: 10px 16px;
    margin-left: 40%;
    margin-top: 0vh;
    margin-bottom: 1vh;
    width: 20%;
    text-align: center;
}
.pLabel{
    color: var(--text-color-grey);
}
.pResult{
    color: var(--text-color-dark);
}