/* Variables */
:root {
    --text-color-dark: rgb(40, 40, 46);  
    --text-color-grey: rgb(99, 99, 99);  
    --text-color-light: white;
    --palette-0: #cabba5;   
    --palette-1: #f5ecdf; 
    --palette-2: #F7882f;  
    --palette-3: #f7c331;  
    --palette-4: #5b79a3;   
    --font-header: 'Bevan', cursive;
    --font-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Select All */
*{
    margin: 0%;
    padding: 0%;
    font-family: var(--font-main);
}
/* Grid Styles */
.gridContainer{
    display: grid;
    height: 100%;
    min-height: 100vh;
    grid-template-rows: 7vh auto 3vh;
    
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .5vh;
    font-family: var(--font-main);
    text-align: center;
    background-color: var(--palette-3);
    width: 100vw;

}
.content{
    background-color: var(--palette-1);
    width: 80vw;
    margin-left: 10vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    height: auto;
    
    
    
}
.footer{
    background-color: var(--palette-3);
    color: var(--text-color-light);
    padding-top: .5vh;
    text-align: center;
}

/* Styles */
body{
    background-color: var(--palette-0);
}
#logo{
    height: 90%;
    margin: 0vw 1vw;
    /* padding: 2vh 0vw; */
    
}
.title{
    font-size: 22pt;
    font-family: var(--font-header);
    color: var(--palette-2);
    margin: 0;
}
.subtitle{
    font-size: 12pt;
    font-style: italic;
    color: var(--text-color-light);
    transform: translateY(-1vh);
}
h1{
    font-size: 28pt;
}
h2{
    text-align: center;
    margin: 1vh 0vw;
}
hr{
    color: var(--text-color-dark);
    margin: 1% 10%;
    width: 80%;
    border: 1px solid var(--text-color-dark);
}
.afterwishlistHR{
    margin-bottom: 3vh;
}
a{
    text-decoration: none;
    color: #F7882f;
}
a:visited{
    color:#f7c331;
}
button {
    background-color: var(--palette-2); 
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }
.dogBox{
    
    background-color: white;
    max-width: 70vw;
    margin: 3vh 10vw;
    margin-bottom: .25%;
    font-size: 1em;
    box-shadow: 0 2px 2px grey;
    z-index: 1;

}
.dogGrid{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    height: auto;
    padding: 3vh 0;

}
.wishBox{
    color: var(--text-color-light);
    background-color: var(--palette-4);
    font-size: 1em;
    margin: 1%;
    box-shadow: 0 1px 2px  grey;


}
.wishbtn{
margin: 0 30vw;
width: 20vw;
}
#map{
    width: 60vw;
    height: 40vw;
    margin: 0 10vw;
    margin-bottom: 3vh;
    z-index: 0;
}
.paramLabel{
    font-size: 16pt;
    width: 100%;
    text-align: center;
}
.paramOption{
    background-color:  white;
    border: 0px solid white;
    padding: 10px 16px;
    margin-left: 35%;
    margin-top: 0vh;
    margin-bottom: 1vh;
    width: 30%;
    text-align: center;
}
.pLabel{
    color: var(--text-color-grey);
}
.wLabel{
    color: var(--text-color-light);
    text-align: center;
    font-size: 14pt;
}
.pResult{
    color: var(--text-color-dark);
}
.iconpad{
    margin: 0vh 1vw;
}
.wishlistProp{
text-align: center;
}
#loading{
    width: 10%;
    margin: 1vh 35vw;
}
.about{
    padding: 3vh 10vw;
    background-color: white;
    box-shadow: 0px 3px 5px  grey;


}
#profiles{
    margin-top: 3vh;
    width: 100%;
    display: grid;
    grid-template-columns: auto 10vw auto;
}
.personBox{
    width: 25vw;
}
.profPic{
    margin-bottom: 3vh;
    width: 100%;
}
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) { 
    /* Phones */ 
    .gridContainer{
        grid-template-rows: 10vh auto 3vh;
        
    }
    .top{
        width: 100vw;
        padding: 1vh 0vw;
    }
    #logotext{
        display: none;
    }
    .subtitle{
        display: none;
    }
    .content{
        width: 100vw;
        margin: 0;
    }
    .footer{
        width: 100vw;
        font-size: 9pt;
    }
    .paramOption{
        background-color:  white;
        width: 60%;
        margin-left: 20vw;
        padding-top: .5vh;
        padding-bottom: .5vh;
    }
    .btn{
        width: 40vw;
        margin: 2vh 30vw;
    }
    #loading{
        width: 50vw;
        margin: 1vh 25vw;
    }
    .paramLabel{
        font-size: 13pt;

    }
    .dogBox{
        max-width: 100vw;
        margin: 0vh 0vw;
        padding: 1vh 2vw;

    }
    #map{
        width: 100vw;
        height: 70vh;
        margin: 0vh 0vw;

    }
    .dogGrid{
        grid-template-columns: 100%;
        height: auto;
        padding: 20% 0;
        padding-top: 5vh;
    
    }
    #profiles{
        margin-top: 3vh;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }
    .personBox{
        width: 80vw;
    }
}