<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fetch!</title>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCRUf5MOu0uv5o02s09du0s1Gb9ZodTvoQ",
            authDomain: "fetchwebapp.firebaseapp.com",
            databaseURL: "https://fetchwebapp.firebaseio.com",
            projectId: "fetchwebapp",
            storageBucket: "",
            messagingSenderId: "494221432138"
        };
        firebase.initializeApp(config);
    </script>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Mapbox APIs -->
    <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.js"></script>
    <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />
    <!--PetFinder API-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
        src="https://unpkg.com/@petfinder/petfinder-js/dist/petfinder.min.js">//API Key: 3aPqyYam1lM9nzOX5yAUempjnMNDApTMvEwCr8VSwV4RX8j0OK  secret: LzTl7yGbikkCB9Cx5yBr3vIfUyGl7bmCdLp3JAXT</script>

    <!-- CSS & JS -->
    <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet">

</head>

<body>
    <div id="app">
        <div class="gridContainer">
            <div class="top">
                <img id="logo" src="images/doggo.png" alt="logo">
                <div id="logotext">
                    <h1 class="title">{{ title }}</h1>
                    <p class="subtitle">Find a friend!</p>
                </div>
            </div>
            <div class="content">
                <p class="paramLabel">Choose Friend Type!</p>
                <select class="paramOption" v-model="petSpecies">
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                </select><br>
                <p class="paramLabel">Gender</p>
                <select class="paramOption" v-model="petGender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="No">No Preference</option>
                </select><br>
                <p class="paramLabel">Age of Friend</p>
                <select class="paramOption" v-model="petAge">
                    <option value="Baby">Baby</option>
                    <option value="Young">Young</option>
                    <option value="Adult">Adult</option>
                    <option value="Senior">Senior</option>
                    <option value="No">No Preference</option>
                </select>

                <button class="btn" type="submit" @click="search"><i class="fas fa-search"></i>   Search</button>
                <!-- <button class="btn" type="submit" @click="display">display</button> -->
                <hr>
                <div v-if="mapLoading"><img id="loading" src="images/loading.gif" /></div>
                <div class="dogBox" v-for="item in results.slice(0,1)">
                    <div v-if="item[0] != 'No Results Found' ">
                        <p class="pLabel">Name: <span class="pResult">{{item.name}}</span></p>
                        <p class="pLabel">Species: <span class="pResult">{{item.species}}</span></p>
                        <p class="pLabel">Age: <span class="pResult">{{item.age}}</span></p>
                        <p class="pLabel">Contact info: <span class="pResult">{{item.contact.email}}</span></p>
                        <p class="pLabel">Status: <span class="pResult">{{item.status}}</span></p>
                    </div>
                    <div v-else>
                        ISSUE
                    </div>

                </div>
                <div id='map'></div>
                <button class="btn wishbtn" type="submit" @click="wishlistAdd"><i class="fas fa-star"></i>  Add to Wishlist</button>
                <!-- <button class="btn" type="submit" @click="wishlistView"><i class="fas fa-dog"></i>  View Wishlist</button> -->
                <hr>
                <h2 class="">My Wishlist!</h2>
                <div class="dogGrid">
                    <div class="wishBox" v-for="pet in wishlistVue">
                        <p class="wLabel"><span>{{pet.name}}</span><span v-if="pet.species == 'Dog'"><i class="fas fa-dog iconpad"></i></span><span v-else><i class="fas fa-cat iconpad"></i></span></p>
                        <p class="wishlistProp">Age: <span>{{pet.age}}</span></p>
                        <!-- <p class="pLabel">Contact info: <span class="pResult">{{item.contact.email}}</span></p> -->
                        <p class="wishlistProp">Status: <span>{{pet.status}}</span></p>
                        <p class="wishlistProp"><span><a :href="pet.url">Link</a></span></p>
                    </div>
                </div>
                <hr>
                <div class="about">
                    <h2>About Fetch!</h2>
                    <p>Fetch! is a lightweight web app that utilized The PetFinder API and Mapbox to match you with a perfect adoptable cat or dog. The initial idea for the app was to make a "Tinder for Dogs." However after some research we found that Petfinder's API was able to offer certain information about pets, making the dating profile setup more challenging to achieve</p>
                    </br>
                    <p>Fetch was created by Declan Behan and Leah Bernstein, two Game Design and Development sudents are RIT.</p>
                    <div id="profiles">
                        
                    </div>
                </div>
                <!-- style='width: 640px; height: 480px;' -->
            </div>
            <div class="footer">
                <p>© Behan & Bernstein 2019. All Rights Reserved.</p>
            </div>
        </div>


    </div>


    <script src="js/main.js"></script>
</body>

</html>